#cooldownTimer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: red;
    display: none;
}
#tdboard {
    display: block;
    margin: 0 auto; /* Center horizontally */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust for both horizontal and vertical centering */
}
